.search-block-top input {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #999999;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    color: #898989;
    display: inline;
    height: 43px;
    min-width: 250px;
    padding: 10px 40px 10px 10px;
    transition: all 300ms ease-in 0s;
    z-index: 1;
}
.search1{
    margin-left: -70px;
    font-size: 25px;
    color:#9f9f9f;
}
.cart a{
    text-decoration: none;
    color: #898989d7;
}
.cart i{
    font-size: 25px;
}
.cart p{
    font-size: 20px;
}

.btn-group button{
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 10px 24px;
    position: relative;
    text-transform: uppercase;
  
    
}
.home1{
   text-decoration: none;
   color: black;
}

/* shopping-table */

.home-link{
    text-decoration: none;
    white-space: nowrap;
}
.fa-home{
    transition: color 1s;
    color: rgb(124, 124, 124);
}
.fa-home:hover{
    color: #C06B81;
}

.title-cart{
    border-bottom: 1px solid #e5e5e5;
}

/* table */

.table{
    border: 1px solid #e5e5e5;
    text-align: center;
}
thead{border-color: inherit;}

.table-content a{
    
        transition: color 1s;
        color: black;
        text-decoration: none;
}

.content a:hover{
    color: #C06B81;
}

.table-content table th, .table-content table tbody td  {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

td input{
    width: 20%;
    padding: 9px;
    text-align: center;
    background-color: #CECECE;
    border: none;
    border-radius: 4px;
    margin-top: 35px;
}

.update{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
   transition: 0.5s background-color;
}
.update:hover{background-color: #C06B81;}

.coupon input[type="text"] {
    border: 1px solid #e5e5e5;
}

.cart_totals {
    float: left;
    text-align: right;
    width: 100%;
}

.cart_totals h2 {
    border-bottom: 2px solid #333;
    color: black;
    display: inline-block;
    font-size: 30px;
    margin: 0 0 35px;
    text-transform: uppercase;
}

.sub-total p{
    font-size: 14px;
    font-weight: bold;
}



footer{background-color: #363636;}

.row h5{
    letter-spacing: 2px;
    cursor: pointer;
    color: #fff;
}

.footer-logo{
    border-bottom: 1px solid #4a4a4a;
    padding: 60px 0;
}

.address .fas {color: #C06B81;}

.toggle-footer {list-style-type: none;}

.toggle-footer li{
    margin-left: -25px;
    margin-top: 28px;
    font-size: 14px;
}
.toggle-footer i{margin-right: 10px;}

.toggle-footer li a{text-decoration: none;color: white;}

.email{
    background: transparent none repeat scroll 0 0;
    color: #9e9e9e;
    padding: 10px;
    width: 100%;
}
.subscribe{
    background-color: #C06B81;
    color: white;
    border: #C06B81 1s solid;
}
.footer-social .f {
background: #3C5A99;
color: #fff;
padding: 10px;
}
.footer-social .t {
background: #55ACEE;
color: #fff;
padding: 10px;
}
.footer-social .w {
background: #F57D00;
color: #fff;
padding: 10px;
}
.footer-social .g1 {
background: #DD4B38;
color: #fff;
padding: 10px;
}
.row{
    padding: 60px 0;
}

.payment{margin-left: 27%;}

.footer-bottom{
    background-color: #2F2F2F;
   
}
